h2 Distribution of US counties by real growth of income from employment, 1990 to 2015

div#graphic

div.footer.clearfix
    div.brand Quartz | qz.com
    div.source Data: <a href="https://www.bls.gov/cew/">US Bureau of Labor Statistics</a>. <span class="nowrap">Extreme outliers have been excluded.</span> <span class="nowrap">(Less than 2.5% of counties.)</span>
    
p.break &nbsp;
