@import 'qz/chart-elements'

.item-body h2
	margin-bottom 20px

.y.grid line
	fill none
	stroke $qz-chart-gridline
	stroke-width 1px
	shape-rendering crispEdges

.bars rect
	fill: $qz-blue-1

.x.axis
	.tick.zero text
		stroke $qz-gray-3

.y.grid
	line.zero
		stroke $qz-gray-3

.footer
	font-family $qz-sans
	color $qz-gray-2
	width 100%
	padding 10px 0 0 0
	font-size 14px

	.brand
		width 30%
		float left
		text-align left

	.source
		width 70%
		float left
		text-align right

	.nowrap
		white-space: nowrap;

@media screen and (max-width: 600px)
	.item-body h2:first-child
		margin-bottom 20px

	.x.axis
		.tick text
			font-size 12px
